<h6><%= link_to 'Add Billboard Category', new_billb_path %></h6>
<header>
  <h1>BillBoard Charts</h1>
</header>
<br />
    <% @billbs.each do |billb| %>
      <div class="ui button silver">
        <%= link_to billb.name, billb_path(billb) %>
      </div>
      
  <% end %>
  
 