@import "semantic-ui";
@import "flash";

body {
  margin-top: 50px;
  color: navy;
  font-family: lato;
  background-color: white;
  text-align: center;
}

header {
  text-align: center;
  font-family: lato
}

footer {
  text-align: center;
}

h1 {
  font-size: 3em
}